[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pre-commit = "*"
docker = "*"

[packages]
pandas = "*"
google-api-python-client = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
usaddress = "*"
webhook-logger = "*"
converter = {editable = true,git = "https://github.com/brighthive/google-pathways-converter.git",ref = "master"}

[requires]
python_version = "3.7.5"
