[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pandas = "*"
google-api-python-client = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
converter = {editable = true,git = "https://github.com/brighthive/google-pathways-converter.git",ref = "master"}
usaddress = "*"

[requires]
python_version = "3.7"
